<!DOCTYPE html>
<html>
  <head>
    <title>Excel Formula Generator</title>
    <link rel="stylesheet" type="text/css" href="taskpane.css">
  </head>
  <body>
    <h1>Excel Formula Generator</h1>
    <p>Enter the natural language description of the formula you want to generate:</p>
    <textarea id="input-string"></textarea>
    <br>
    <button id="generate-button">Generate Formula</button>
    <br>
    <br>
    <p>Generated formula:</p>
    <textarea id="output-string"></textarea>
    <script src="taskpane.js"></script>
  </body>
</html>
